body {
	font-family: Arial;
	/*background-image: url(../img/background.jpg);*/
	background-color: black;
	background-size: 100%;
    background-repeat: no-repeat;
}

body::after {
  content: "";
  background: url(../img/background.jpg);
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
  background-size: 100%;
  background-repeat: no-repeat;
}

.apk {
	display: none;
}

.apkdownload {
	position: absolute;
	padding: 5px 5px 5px 5px;
	border-style: solid;
	border-color: lightgrey;
	border-width: 1px;
}
.apkdownload.qr {
	right: 0px;
	bottom: 0px;
}
.apkdownload.text {
	left: 30px;
	top: 0px;
}

table, td, th {
	text-align: center;
	padding: 0px;
	font-size: 1em;
	border: 1px solid black;
}

table {
	width: 60%;
	margin-left: 20%;
	margin-right: 20%;
}

th {
	background-color: black;
	color: white;
	height: 25px;
	padding: 1px;
}

td {
	background-color: white;
	height: 25px;
	padding: 1px;
}

h1, h2, h3 {
	text-align: center;
	color: white;
	text-shadow: 2px 2px 2px blue;
}

.green {
	background-color: green;
	width: 10%;
}

.red {
	background-color: red;
	width: 10%;
}

.yellow {
	background-color: yellow;
	width: 10%;
}

.ingame {
	margin-bottom: 50px;
}

.finished {
	color: green;
}

@media (max-width: 720px) { 
	body {
		/*height: 900px;*/
		background-image: none;
		background-color: black;
		background-size: contain;
	    background-repeat: no-repeat;
	}

	table {
		width: 100%;
		margin: 0%;
	}

	img.qr {
		display: none;
	}

	a.apk {
		display: block;
		transform: rotate(90deg);
		transform-origin: left top 0;
	}
 }