body {
	font-family: tahoma;
}

.apkdownload {
	position: absolute;
	bottom: 0px;
	right: 0px;
	padding: 5px 5px 5px 5px;
	border-style: solid;
	border-color: lightgrey;
	border-width: 1px;
}

table, td, th {
	text-align: center;
	padding: 0px;
	font-size: 1em;
}

table {
	width: 50%;
}

th {
	background-color: #848484;
	color: white;
	width: 18%;
}

.white {
	background-color: #FAFAFA;
}

.silver {
	background-color: #F2F2F2;
}

.green {
	background-color: green;
	width: 10%;
}

.red {
	background-color: red;
	width: 10%;
}

.yellow {
	background-color: yellow;
	width: 10%;
}